html,
body {
  width: fit-content;
  height: min-content;
}

.flex-item {
  margin: auto;
}

.flex-item-container {
  display: flex;
  gap: 30px;
  margin-top: 50px
}

.flex-item-container-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px
}

.flex-container {
  display: flex;
  flex-direction: column;
  perspective: 1000px;
  margin-bottom: 30px;
}

.screen {
  background: rgba(255, 255, 255, 0.808);
  height: 100px;
  width: 70%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  align-self: center;

}

.showcase li small {
  margin-left: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.puesto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33FF57;
  height: 24px;
  width: 30px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seleccionado {
  background-color: #3498DB;
}

.ocupado {
  background-color: #FF5733;
}